/* ? RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.97rem;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.flex {
    display: flex;
}

body {
    background-color: #000000;
    min-width: 900px;
}


header {
    height: 10vh;
    width: 100%;
}

main {
    height: 83vh;
    width: 90%;
    margin: 0px auto;
    padding-bottom: 50px;
    overflow-y: scroll;

    flex-wrap: wrap;
    gap: 30px 10px;
}

footer {
    height: 7vh;
    width: 100%;
    background-color: #222222;
    color: #ffffff;

    justify-content: space-between;
}


/* HEADER */
/* Class for the button the right part of the header */
.window-controller {
    padding: 5px;
    margin: 5px;
    background-color: #4a4a4a;
    color: #ffffff;
    border-radius: 5px;
}



/* MAIN */
.user-container {
    background-image: url(../img/sfondo-user.jpeg);
    background-size: cover;

    width: 300px;
    height: 16vh;

    min-height: 190px;

    flex-direction: column-reverse;
}

/* Name tag */
.name-tag {
    background-color: #4a4a4a;
    color: #ffffff;
    padding: 3px;
    opacity: 0.8;
    width: 35%;
}



/* FOOTER */
.footer-items-container {
    align-items: center;
}
.footer-items-container div{
    padding: 10px;
    text-align: center;
}

.footer-items-container .footer-icon i {
    font-size: 1.8rem;
    padding-bottom: 5px;
}

/* Soecific class for coloring the share button in green */
.footer-icon .fa-share-square {
    color: #4bc800;
}

/* Specific class for the end meeting button in footer */
.end-meeting-footer {
    background-color: #4a4a4a;
    color: #f3061b;
    padding: 1%;
}