/* ? RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.flex {
    display: flex;
}

body {
    background-color: #000000;
}


header {
    height: 10vh;
    width: 100%;
}

main {
    height: 80vh;
    width: 90%;
    margin: 0 auto;
    overflow-y: scroll;

    flex-wrap: wrap;
    gap: 30px 10px;
}

footer {
    height: 10vh;
    width: 100%;
}


/* HEADER */
.window-controller {
    padding: 5px;
    margin: 5px;
    background-color: #4a4a4a;
    color: #ffffff;
    border-radius: 5px;
}



/* MAIN */
.user-container {
    background-image: url(../img/sfondo-user.jpeg);
    background-size: cover;

    width: 300px;
    height: 16vh;

    flex-direction: column-reverse;
}

.name-tag {
    background-color: #4a4a4a;
    color: #ffffff;
    padding: 3px;
    opacity: 0.8;
    width: 35%;
}



/* FOOTER */
